Web/iTalker/build/libs/exploded/iTalker-1.0-SNAPSHOT.war/WEB-INF/lib/
Web/iTalker/.idea/libraries/
App/ITalker/.gradle/3.3/tasks/
App/ITalker/.idea/libraries/
App/ITalker/.gradle/3.3/
App/ITalker/app/build/generated/source/r/androidTest/
App/ITalker/app/build/intermediates/blame/
App/ITalker/app/build/intermediates/classes/
App/ITalker/app/build/intermediates/
App/ITalker/app/build/
App/ITalker/build/
App/ITalker/common/build/
App/ITalker/lang/build/
Web/iTalker/out/

